<div class="card card-product">
  <div class="card-header card-header-image">
    <a href="#pablo">
      <img class="img" src="../../assets/img/Conta-digital-Inter.jpg">
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <a href="#pablo">O Que é Tecmicro-Hub?</a>
    </h4>
    <div class="card-description">
      <p>Trata-se de uma Lista informal de pessoas da CAIXA que se identificam com o Desenvolvimento de Soluções Tecnológicas. Este grupo busca melhorarias e integração nos mais variados níveis de conhecimento (seja na área de Negócios ou da TI). É um espaço para tirar dúvidas, fazer consultas e contribuir com soluções, idéias, trazer sugestões, divulgar, avaliar etc. Sempre com respeito às diferenças de entendimento e com muito espírito colaborativo.</p>
      <p>A nomenclatura HUB é usada para indicar que este é um espaço concentrador de informações, incluindo links externos alinhados à proposta da Lista.</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center">9999 <br/> Integrantes</div>
    <div class="text-center">9999 <br/> Posts</div>
    <div class="text-center">9999 <br/> Respostas</div>
    <div class="text-center">9999 <br/> Acessos</div>
  </div>
</div>