.photo-post {
  width: 34px; 
  height: 34px; 
  border-radius: 50%;
  margin-top: 5px;
}

.fix-span-resposta {
  margin-left: 10px;
}

.mat-cell:hover {
  cursor: pointer;
}

.dash-info {
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
}